.rewards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  .reward {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 100%;
    border-radius: 20px;
    img {
      border-radius: 20px;
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-direction: row;
      gap: 10%;
      height: 40%;
      width: 100%;
      p {
        margin: 0;
        line-height: 100%;
        width: 50%;
      }
    }
    .attributes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      width: 100%;
    }
  }
}

.paginate {
  position: relative;
  top: -8%;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}
