.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/login_background.jpg");
  background-size: 100vw 100vh;
  .info {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    h1 {
      font-size: 7vw;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    p {
      position: relative;
      top: -10%;
      font-size: 2vw;
    }
  }
}
