.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/home_background.jpg");
  background-size: 100% 110%;
}
