@font-face {
  font-family: custom;
  src: url("../public/data/fonts/Miso-3mVp.otf");
}
@font-face {
  font-family: custom2;
  src: url("../public/ModernBohemian-lXdd.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: custom2;
  background-image: url("../public/login_background.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pgContain {
  font-family: custom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/login_background.jpg");
  background-size: 150% 150%;
}

.nfts {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/login_background.jpg");
  background-size: 150% 150%;
  z-index: 4;
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
