@font-face {
  font-family: custom;
  src: url("../public/data/fonts/Miso-3mVp.otf");
}
@font-face {
  font-family: custom2;
  src: url("../public/ModernBohemian-lXdd.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: custom2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pgContain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  width: 100vw;
  height: 100vh;
  > * {
    animation: fade-in 0.5s;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/login_background.jpg");
  background-size: 150% 150%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    background-image: url("../public/home_background.jpg");
  }
}
